{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html class="login-bg">
<head>
	<title>登录-娱玩后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- bootstrap -->
    <link href="{{url_for('static',filename='css/bootstrap/bootstrap.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap/bootstrap-overrides.css')}}" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/compiled/layout.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/compiled/elements.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/compiled/icons.css')}}">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/lib/font-awesome.css')}}">
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/compiled/signin.css')}}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div class="login-wrapper">
        <div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <a href="#">
            <img class="logo" src="{{url_for('static',filename='img/logo-white.png')}}">
        </a>

        <div class="box">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="content-wrap">
                    <h6>登录</h6>
                    {{ form.username(class='form-control', placeholder='用户名', required=True) }}
                    {{ form.password(class='form-control', placeholder='密码', required=True) }}
                    <a href="#" class="forgot">忘记密码?</a>
                    <div class="remember">
                        {{ form.remember_me(id='remember-me') }}
                        {{ form.remember_me.label }}
                    </div>
                    {{ form.submit(class='btn-glow primary login') }}
    {#                <a class="btn-glow primary login" href="{{ url_for('main.index') }}">登录</a>#}
                </div>
            </form>
        </div>

        <div class="no-account">
            <p>还没账号?</p>
            <a href="signup.html">注册</a>
        </div>
    </div>

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/theme.js')}}"></script>

</body>
</html>