{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}  查询 {% endblock %}
{% block head %}
    <link href="{{url_for('static',filename='css/lib/jquery.dataTables.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static',filename='css/compiled/datatables.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{url_for('static',filename='css/bootstrap/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    #form1 {
      display: flex;
      float: right;
    }

    #form1 input {
        height: 28px !important;
    }
    </style>
    {{ super() }}
{% endblock %}

    {% block content %}
	<!-- main container -->
    <div class="content">

        <div id="pad-wrapper" class="datatables-page">



             <div class="row">
                    <div class="col-md-12">
                        <form id="form1" class="clearfix" action="" method="post" >

                        {{ form.hidden_tag() }}
                        {{ form.begin_time.label }}{{ form.begin_time(id="s_bt",class="form_datetime",readonly=True) }} &nbsp;&nbsp;&nbsp;{{ form.end_time.label }} {{ form.end_time(id="s_et",class="form_datetime",readonly=True) }}
                        {{ form.submit(class='btn btn-default') }}
                        <input class="btn btn-default" type="button" onclick="formReset()" value="重置">
                        </form>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-12">

                    <table cellpadding="0" cellspacing="0" border="0" class="" id="example">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" rowspan="1" colspan="1">产品名称
                                </th>
                                <th tabindex="0" rowspan="1" colspan="1">包号
                                </th>
                                <th tabindex="0" rowspan="1" colspan="1">当日数据
                                </th>
                                <th tabindex="0" rowspan="1" colspan="1">日期
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                        {% for l in result %}
                            <tr>

                                <td>{{ l.Product.pro_name}}</td>
                                <td>{{ l.Product_sub.package}}</td>
                                <td>{{ l.Product_sub.data }}</td>
                                <td> {{ l.Product_sub.data_Date }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- end main container -->
    {% endblock %}

    {% block scripts %}
	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/jquery.dataTables.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>

    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example').dataTable({
                "sPaginationType": "full_numbers"
            });
        });
    </script>

    <script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        autoclose:1,
        minView:2
    });
    </script>

    <script type="text/javascript">
        function formReset()
        {
{#        document.getElementById("form1").reset()#}
          $("#s_bt").val("");
          $("#s_et").val("");

        }
    </script>

    {% endblock %}

