{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}  首页 {% endblock %}

{% block head %}
    <link href="{{url_for('static',filename='css/compiled/tables.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static',filename='css/bootstrap/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>
   <link href="{{url_for('static',filename='css/compiled/gallery.css')}}" rel="stylesheet" type="text/css" />
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="content">


        <div id="pad-wrapper" class="gallery">
            <div class="row header">
                <div class="col-md-12">
                    <h3>图片墙</h3>
                </div>
            </div>

            <!-- gallery wrapper -->
            <div class="gallery-wrapper">
                <div class="row gallery-row">
                    <!-- single image -->
                    <div class="col-md-3 img-container">
                        <div class="img-box">
                            <span class="icon edit">
                                <a data-toggle="modal" href="#myModal"><i class="gallery-edit"></i></a>
                            </span>
                            <span class="icon trash">
                                <i class="gallery-trash"></i>
                            </span>
                            <img src="../static/img/gallery3.jpg" class="img-responsive" />
                            <p class="title">
                                Beach pic title
                            </p>
                        </div>
                    </div>


                    <!-- new image button -->
                    <div class="col-md-3 new-img">
                        <a data-toggle="modal" href="#myModal">
                            <img src="../static/img/new-gallery-img.png" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- end gallery wrapper -->

        </div>
    </div>
{% endblock %}