{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}  包包管理页 {% endblock %}
{% block head %}
    <link href="{{url_for('static',filename='css/compiled/tables.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static',filename='css/bootstrap/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    .df {
      display:flex;
      float: right;
    }
    </style>
    {{ super() }}
{% endblock %}

    {% block content %}

     <!-- main container -->
    <div class="content">
      <div id="pad-wrapper">
            <div class="table-wrapper products-table">

            <!-- products table-->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="row head">
                    <div class="col-md-12">
                        <h1>产品包</h1>
                    </div>
                </div>

                <div class="row filter-block">
                    <div class="pull-right">
                        <form method="post" action="">
                        {{form.hidden_tag()}}
                        {{ form1.product(class='ui-select') }}
                        {{ form1.submit(class='btn-flat ') }}
                        <a data-toggle="modal" href="#myModal" class="btn-flat success">+ 添加产品</a>
                    </form>

                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">
{#                                    <input type="checkbox">#}
                                    序号
                                </th>
                                <th class="col-md-1">
                                     <span class="line"></span>产品名称
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>包号
                                </th>
                                 <th class="col-md-1">
                                    <span class="line"></span>当日数据
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>日期
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for package in packages %}
                            <!-- row -->
                            <tr class="first">
                                <td>
{#                                    <input type="checkbox" value="{{ package.id }}">#}
                                    <a class="name">{{ loop.index }} </a>
                                </td>
                                <td class="description">
                                    {{ package.product.pro_name }}
                                </td>
                                <td class="description">
                                    {{ package.package }}包
                                </td>
                                <td class="description">
                                    {{ package.data }}
                                </td>
                                <td class="description">
                                    {{ package.data_Date }}
                                </td>
                                <td>
                                    <ul class="actions">
                                        <li><a onclick="get_package_info('{{ url_for('main.get_package_info',id=package.id) }}',{{ package.id }})">修改</a></li>

                                            <form class="df" id="delForm{{ package.id }}" method="post" action="{{ url_for('main.delete_package') }}">
                                                {{ form2.hidden_tag() }}
                                                {{form2.packageId(type='hidden',value=package.id)  }}
                                                <a onclick="delPack({{ package.id }}) ">删除</a>
                                            </form>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
              <div class="pagination">
            {{ macros.pagination_widget(pagination, endpoint) }}
        </div>
            <!-- end products table -->
       </div>

    </div>
    <!-- end main container -->

        <!-- 信息删除确认: For delete an article confirm -->
    <div class="modal fade" id="delPackModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">确认删除？</h4>
                </div>
                <div class="modal-body">
                    <p>将删除数据，并且删除后不可恢复，您确认要删除吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="" id="packClick" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

   <div class="modal fade" id="editPackageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">修改产品包</h4>
            </div>
            <form class="form-horizontal" id="EditPackage" role="form" method="post" action="{{ url_for('main.edit_package', page=page) }}">
                <div class="modal-body">

                    <div class="form-group">
                        {{ form3.hidden_tag() }}
                        {{ form3.package_id(type='hidden') }}
                        {{ form3.pro_id(type='hidden') }}
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form3.productname.label }}:
                        </label>
                        <div class="col-lg-10">
                            {{ form3.productname(id='editProname',required='',disabled=True) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form3.package.label }}:</label>
                        <div class="col-lg-10">
                            {{ form3.package(id='editPackage',required='') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form3.data.label }}:</label>
                        <div class="col-lg-10">
                            {{ form3.data(id='editData',required='') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form3.data_Date.label }}:</label>
                        <div class="col-lg-10">
                            {{ form3.data_Date(id='editDataData',class="form_datetime") }}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



      <!-- 新增产品 -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">添加数据</h4>
            </div>

              <form class="form-horizontal" role="form" method="post" action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{form.hidden_tag()}}
                            {{ form.pro_id.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.pro_id() }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form.package.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.package(required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form.data.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.data(required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form.data_Date.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.data_Date(class="form_datetime", required='', readonly='') }}
                        </div>
                    </div>

                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
              </form>


          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% endblock %}

    {% block scripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>

{#    <script  type="text/javascript" src="{{url_for('static',filename='js/jquery-1.8.3.min.js')}}"></script>#}
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/admin.js')}}"></script>

    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: 1,
            minView:2

        });

    </script>
    {% endblock %}
