{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}  产品管理页 {% endblock %}
{% block head %}
    <link href="{{url_for('static',filename='css/compiled/tables.css')}}" rel="stylesheet" type="text/css" />
    <style type="text/css">
    .df {
      display:flex;
      float: right;
    }
    </style>
    {{ super() }}
{% endblock %}

    {% block content %}

     <!-- main container -->
    <div class="content">

      <div id="pad-wrapper">

            <!-- products table-->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
            <div class="table-wrapper products-table">
                <div class="row head">
                    <div class="col-md-12">
                        <h1>产品</h1>
                    </div>
                </div>

                <div class="row filter-block">
                    <div class="pull-right">
                        <a data-toggle="modal" href="#myModal" class="btn-flat success new-product">+ 添加产品</a>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    序号
                                </th>

                                <th class="col-md-3">
                                    <span class="line"></span>产品名称
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>对接人
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pro in products %}
                            <!-- row -->
                            <tr class="first">
                                <td>
                                    <a class="name">{{ loop.index }} </a>
                                </td>

                                <td class="description">
                                    {{ pro.pro_name }}
                                </td>

                                <td class="description">
                                    {{ pro.person }}
                                </td>
                                <td>
                                    <ul class="actions">
                                        <li><a onclick="get_product_info('{{ url_for('main.get_product_info',id=pro.id) }}',{{ pro.id }})">修改</a></li>
                                        <!-- 删除-->
                                        <li class="last">
                                            <form class="df" id="delForm{{ pro.id }}" method="post" action="{{ url_for('main.delete_product') }}">
                                                {{ form1.hidden_tag() }}
                                                {{form1.productId(type='hidden',value=pro.id)  }}
                                             <a onclick="delPro({{ pro.id }}) ">删除</a>
                                            </form>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                          </tbody>
                    </table>
                </div>
                {{ macros.pagination_widget(pagination, endpoint) }}

            </div>
            <!-- end products table -->
       </div>

    </div>
    <!-- end main container -->

        <!-- 信息删除确认: For delete an article confirm -->
    <div class="modal fade" id="delProModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">确认删除？</h4>
                </div>
                <div class="modal-body">
                    <p>将连同该产品数据一齐删除，并且删除后不可恢复，您确认要删除吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="" id="proClick" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <!-- 添加产品 -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">添加产品</h4>
            </div>

              <form class="form-horizontal" role="form" method="post" action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{form.hidden_tag()}}
                            {{ form.pro_name.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.pro_name(required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form.person.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.person(required='') }}
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
              </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <!-- edit-->
    <div class="modal fade" id="editProductModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">修改产品</h4>
            </div>
            <form class="form-horizontal" id="EditProduct" role="form" method="post" action="{{ url_for('main.edit_product', page=page) }}">
                <div class="modal-body">
                    <div class="form-group">
                        {{ form2.hidden_tag() }}
                        {{ form2.product_id(type='hidden') }}
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form2.pro_name.label }}:
                        </label>
                        <div class="col-lg-10">
                            {{ form2.pro_name(id='editName',required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form2.person.label }}:</label>
                        <div class="col-lg-10">
                            {{ form2.person(id='editPerson',required='') }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    {% endblock %}

    {% block scripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/admin.js')}}"></script>

    {% endblock %}
