{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}  产品管理页 {% endblock %}
{% block head %}
    <link href="{{url_for('static',filename='css/compiled/tables.css')}}" rel="stylesheet" type="text/css" />
    {{ super() }}
{% endblock %}

    {% block content %}

     <!-- main container -->
    <div class="content">

      <div id="pad-wrapper">

            <!-- products table-->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
            <div class="table-wrapper products-table">
                <div class="row head">
                    <div class="col-md-12">
                        <h1>产品</h1>
                    </div>
                </div>

                <div class="row filter-block">
                    <div class="pull-right">
                        <div class="ui-select">
                            <select>
                              <option>Filter users</option>
                              <option>Signed last 30 days</option>
                              <option>Active users</option>
                            </select>
                        </div>
                        <input type="text" class="search">
                        <a data-toggle="modal" href="#myModal" class="btn-flat success new-product">+ 添加产品</a>

                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    <input type="checkbox">
                                    产品名称
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>对接人
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pro in products %}
                            <!-- row -->
                            <tr class="first">
                                <td>
                                    <input type="checkbox" value="{{ pro.id }}">
                                    <a href="#" class="name">{{ pro.pro_name }} </a>
                                </td>
                                <td class="description">
                                    {{ pro.person }}
                                </td>
                                <td>
                                    <ul class="actions">
                                        <li><a href="#">修改</a></li>
                                        <li class="last"><a href="#">删除</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                          </tbody>
                    </table>
                </div>
                {{ macros.pagination_widget(pagination, endpoint) }}

            </div>
            <!-- end products table -->
       </div>

    </div>
    <!-- end main container -->

      <!-- Modal -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">添加产品</h4>
            </div>

              <form class="form-horizontal" role="form" method="post" action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{form.hidden_tag()}}
                            {{ form.pro_name.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.pro_name(required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1" class="col-lg-2 control-label">
                            {{ form.person.label }}:</label>
                        <div class="col-lg-10">
                            {{ form.person(required='') }}
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
              </form>


          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% endblock %}

    {% block scripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>

    {% endblock %}
