{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}  产品管理页 {% endblock %}
{% block head %}
    <link href="{{url_for('static',filename='css/compiled/tables.css')}}" rel="stylesheet" type="text/css" />
    {{ super() }}
{% endblock %}

    {% block content %}

     <!-- main container -->
    <div class="content">

      <div id="pad-wrapper">

            <!-- products table-->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
            <div class="table-wrapper products-table section">
                <div class="row head">
                    <div class="col-md-12">
                        <h4>Products</h4>
                    </div>
                </div>

                <div class="row filter-block">
                    <div class="pull-right">
                        <div class="ui-select">
                            <select>
                              <option>Filter users</option>
                              <option>Signed last 30 days</option>
                              <option>Active users</option>
                            </select>
                        </div>
                        <input type="text" class="search">
                        <a class="btn-flat success new-product">+ Add product</a>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    <input type="checkbox">
                                    产品名称
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>对接人
                                </th>
                                <th class="col-md-3">
                                    <span class="line"></span>状态
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pro in result %}
                            <!-- row -->
                            <tr class="first">
                                <td>
                                    <input type="checkbox" value="{{ pro.id }}">
                                    <a href="#" class="name">{{ pro.pro_name }} </a>
                                </td>
                                <td class="description">
                                    {{ pro.person }}
                                </td>
                                <td>
                                    <ul class="actions">
                                        <li><a href="#">修改</a></li>
                                        <li class="last"><a href="#">删除</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
            <!-- end products table -->
       </div>

    </div>
    <!-- end main container -->

    {% endblock %}

    {% block scripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script  type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>

    {% endblock %}
