{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}addpackage{% endblock %}


{% block content%}

<form action="" method="post" name="addpackage">
{{form.hidden_tag()}}
{{wtf.form_field(form.pro_id)}}
{{wtf.form_field(form.package)}}
{{ wtf.form_field(form.data) }}
{{ wtf.form_field(form.data_Date,class="form_datetime") }}
{{wtf.form_field(form.submit)}}
</form>

{% endblock%}



{% block styles %}
{{super()}}
<link href="{{url_for('static',filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static',filename='css/bootstrap/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block scripts %}
<script  type="text/javascript" src="{{url_for('static',filename='js/jquery-1.8.3.min.js')}}"></script>
<script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
<script  type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        autoclose: 1,
        minView:2
    });
</script>
{{super()}}
{% endblock %}

